<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="main">
        <div class="d-flex justify-between">
            <h1>Add a New User</h1>
            <a href="/users">Home</a>
        </div>
        <form action="/user/create" method="post">

            <p><label for="first_name">First Name:</label></p>
            <p><input type="text" name="first_name" id="first_name"></p>

            <p><label for="last_name">Last Name:</label></p>
            <p><input type="text" name="last_name" id="last_name"></p>

            <p><label for="email">Email:</label></p>
            <p><input type="text" name="email" id="email"></p>

            <br>
            <button>Create</button>
        </form>
    </div>
</body>
</html>